*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
.header{
    background-color: rgb(37, 67, 94);

}

.header--content{
    min-height: 60px;
    min-width: 1200px;
    padding:0 30px ;
    margin:o auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo--img{
    width: 10%;

}
.nav{
    transform: all 0.35 ease-in-out;
}

.nav--list{
    display: flex;
    column-gap: 40px;

}

.nav--link{
    color: bisque;
    font-size: 1.2rem;
    transform: all 0.25 ease-in-out;
}

.nav--link:hover{
    color: brown;
    font-weight: 700;

}

/* hero*/
.hero{
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
    
  }
  .hero .row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .hero .column{
    flex: 50%;
    padding: 0 10px;
  }
  .hero h1{
    font-size: 3em;
    margin-bottom: 10px;
  }
  .hero p{
    margin-bottom: 10px;
    line-height: 1.3rem;
  }

  .hero img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 5px;
  }
  .hero .button{
    display: inline-block;
    background-color: #c01711;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
  }
  .hero .button:hover{
    background-color: #333333;
  }



   /* Statistics */
.statistics{
    background-color:  rgb(37, 67, 94);
    padding: 5px;
    text-align: center;
    margin-top: 5x;
  }
  .statistics .row{
    display: flex;
    justify-content: center;
  }
  .statistics .column{
    flex: 33%;
    padding: 0 5px;
  }
  .statistics h3{
    color: #fa4b0b;
  }
  .statistics p{
    color: #ffffff;
    font-weight: 700;
    font-size: 1.3rem;
  }



  /* home-end */

  .home-end img{
    
    
    
    height: 60%;
    width: 40%;
    display: float;
    margin-bottom: 5px;
  }

  .home-end{
    
    text-align: center;
    margin-top: 50px;
  }
  .home-end .row{
    display: flex;
    justify-content: center;
  }
  .home-end .column{
    flex: 33.33%;
    padding: 0 10px;
  }

/* Services */
/* Statistics */
.statistics{
    background-color: #0f4867;
    padding: 40px;
    text-align: center;
    margin-top: 80px;
  }
  .statistics .row{
    display: flex;
    justify-content: center;
  }
  .statistics .column{
    flex: 33.33%;
    padding: 0 10px;
  }
  .statistics h3{
    color: #ff6635;
  }
  .statistics p{
    color: #ffffff;
    font-weight: 700;
    font-size: 1.3rem;
  }
  /* Services */
  .services{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 80px;
  }
  .services .row{
    display: flex;
    margin-bottom: 40px;
  }
  .services .row .text-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  .services h3{
    font-size: 1.5rem;
    font-weight: 600;
  }
  .services p{
    text-align: justify;
  }
