

/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
    
}
body{
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* style for header */
header{
  background-color: rgb(37, 67, 94);
  align-items: center;
  
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  padding: 20px;
}
.logo--img{
  width: 100px;
  padding: 0;
}

nav ul{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li{
  margin-right: 20px;
}
nav ul li a{
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
}

.nav--link:hover{
  color: brown;
  font-weight: 700;

}

/*  style for hero */
.hero{
    margin-top: 10px;
    margin-left: 150px;
    margin-right: 150px;
    
  }
  .hero .row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .hero .column{
    flex: 50%;
    padding: 0 10px;
  }
  .hero h1{
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  .hero p{
    margin-bottom: 10px;
    line-height: 1.3rem;
  }

  .hero img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 5px;
  }
  .hero .button{
    display: inline-block;
    background-color: #c01711;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
  }
  .hero .button:hover{
    background-color: #333333;
  }


   /* Statistics */
  .statistics{
    background-color:  rgb(37, 67, 94);
    padding: 5px;
    text-align: center;
    margin-top: 50x;
    
  }
  .statistics .row{
    display: flex;
    justify-content: center;
  }
  .statistics .column{
    flex: 33%;
    padding: 0 5px;
  }
  .statistics h3{
    color: #fa4b0b;
  }
  .statistics p{
    color: #ffffff;
    font-weight: 700;
    font-size: 1.3rem;
  }

 /* about */

.title{
  display: flex;
  justify-content: center;
  color: #e50e0e;
}
 

.about .row{

  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 80px;
  height: auto;
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
 
}
.about .column{
  
  width: 300px;
  height: auto;
  background-color: rgb(37, 67, 94);
  border-radius: 15px;
}

.about-h2{
  color: azure;
  margin-top: 50px;
}

.about-content{
  color: azure;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.logo--img1{
  width: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Contact */
.contact-section{
display: flex;
justify-content: space-between;
align-items: center;
margin-right: 200px;
margin-left: 150px;
margin-top: 80px;
margin-bottom: 40px;

}

.title-contact{
  visibility: hidden;
}
fieldset{
max-width: 60%;

}
.text-right,.contact-form1{
flex: 1;

}
.contact-section .text-right .contact-info{
border-radius: 12px;
padding: 14px;

}
.contact-info legend{
color: #ff6635;
font-weight: 900;
font-size: 1.3em;
}
.contact-form1{
background-color: rgba(37, 67, 94 );
padding: 30px;
border-radius: 12px;
color: #ffffff;
}
.form-group{
margin-bottom: 15px;

}
.form-group label{
display: block;
margin-bottom: 5px;

}
input,
textarea{
width: 100%;
padding: 5px;
border: 1px solid #cccccc;
border-radius: 3px;
}
button[type="submit"]{
background-color: #ffffff;
color: #ff3535;
padding: 10px 20px;
border: none;
border-radius: 5px;
font-size: 1.2em;
font-weight: 800;
cursor: pointer;
}
button[type="submit"]:hover{
background-color: #10a897;
color: #ffffff;
}


  /* Services */
 .services{

    margin-left: 150px;
    margin-right: 150px;
    margin-top: 80px;
  
  }
  .services .row{
    display: flex;
    margin-bottom: 40px;
  }
  .services .row .text-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  #img-box1{
    width: 320px;
    padding: 30px;
  }
  #img-box2{
    width: 320px;
    padding: 30px;
  }
  #img-box3{
    width: 320px;
    padding: 30px;
  }
  .services h3{
    font-size: 1.5rem;
    font-weight: 600;
  }
  .services p{
    text-align: justify;
  }

/* Footer */
#social-networks {
  background-color: rgb(37, 67, 94 );
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #f0e5e5;
}

/* Responsive Design */


@media (max-width: 1256px) {
  header{
    flex-direction: column;
  }
  .logo{
    margin-bottom: 10px;
  }
  .hero h1{
    font-size: 2em;
    margin-bottom: 10px;
  }

  .hero{
    margin-right: 10px;
    margin-left: 10px;
  }
  .hero .row{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .hero .column{
    margin-bottom: 20px;
  }

  .services{
    margin-left: 100px;
    margin-right: 100px;
  }
  .services .row{
    display: flex;
  }

  .servise .column{
    justify-content: center;
    
  }
  .services .row .text-column{
    order: 2;
    padding: 0;
  }
  .services img{
    width: 10%;
    height: auto;
  }

  #img-box1{
    width: 320px;
    padding: 30px;
  }
  #img-box2{
    width: 320px;
    padding: 30px;
  }
  #img-box3{
    width: 320px;
    padding: 30px;
  }
 
  .about .row{

    margin-bottom: 80px;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    
  }
  .about .column{
    
    width:500px;
    height: auto;
    margin-bottom: 50px;
   
  }
  .contact-section{
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }
  .contact-section .text-right fieldset{
    max-width: 100%;
    margin-bottom: 20px;
  }
  .contact-form1{
    width: 100%;
  }

  }









































@media (max-width: 768px) {
  header{
    flex-direction: column;
  }
  .logo{
    margin-bottom: 10px;
  }
  .hero h1{
    font-size: 2em;
    margin-bottom: 10px;
  }

  .hero{
    margin-right: 10px;
    margin-left: 10px;
  }
  .hero .row{
    flex-direction: column;
    text-align: center;
  }
  .hero .column{
    margin-bottom: 20px;
  }




  .services{
    margin-left: 100px;
    margin-right: 100px;
  }
  .services .row{
    display: flex;
    flex-direction: column;
    align-items: center;


   
  }

  .servise .column{
    justify-content: center;
    
  }
  .services .row .text-column{
    order: 2;
    padding: 0;
  }
  .services img{
    width: 10%;
    height: auto;
  }

  .about .row{


  
    margin-bottom: 80px;
    
    margin-top: 50px;

    flex-direction: column;
    
  }
  .about .column{
    
    width: 350px;
    height: auto;
    margin-bottom: 50px;
    
  
  }
  .contact-section{
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }
  .contact-section .text-right fieldset{
    max-width: 100%;
    margin-bottom: 20px;
  }
  .contact-form1{
    width: 100%;
  }

  }
































@media (max-width: 430px) {
  header{
    flex-direction: column;
  }
  .logo{
    margin-bottom: 10px;
  }

  .hero{
    margin-right: 10px;
    margin-left: 10px;
  }


  .hero .row{
    flex-direction: column;
    text-align: center;
  }
  .hero .column{
    margin-bottom: 20px;
  }
  .hero h1{
    font-size: 1.5em;
    margin-bottom: 10px;
  }
 


  .services{
    margin: auto;
    margin-right: 10px;
    
  }
  .services .row{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .services .row .text-column{
    order: 2;
    padding: 30px;
    
  }
  #img-box1{
    width: 320px;
    padding: 30px;
  }
  #img-box2{
    width: 320px;
    padding: 30px;
  }
  #img-box3{
    width: 320px;
    padding: 30px;
  }
  
  .about .row{

    margin-left: 20px;
  margin-right: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
 
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
  }
  .about .column{
    
    width: 250px;
    height: auto;
    margin-bottom: 50px;
    
  
  }
  .contact-section{
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
  }
  .contact-section .text-right fieldset{
    max-width: 100%;
    margin-bottom: 20px;
  }
  .contact-form1{
    width: 100%;
  }

  }