*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
.header{
    background-color: rgb(37, 67, 94);

}

.header--content{
    min-height: 60px;
    min-width: 1200px;
    padding:0 30px ;
    margin:o auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo--img{
    width: 10%;

}
.nav{
    transform: all 0.35 ease-in-out;
}

.nav--list{
    display: flex;
    column-gap: 40px;

}

.nav--link{
    color: bisque;
    font-size: 1.2rem;
    transform: all 0.25 ease-in-out;
}

.nav--link:hover{
    color: brown;
    font-weight: 700;

}

/* hero*/
.hero{
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
    
  }
  .hero .row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .hero .column{
    flex: 50%;
    padding: 0 10px;
  }
  .hero h1{
    font-size: 4em;
    margin-bottom: 10px;
  }
  .hero p{
    margin-bottom: 12px;
    line-height: 1.3rem;
  }

  .hero img{
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
  }
  .hero .button{
    display: inline-block;
    background-color: #ff6635;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
  }
  .hero .button:hover{
    background-color: #333333;
  }